.banner {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
  height: 518px;
  margin-top: 32px;
  background-image: url("/assets/images/event/13.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  .event-time {
    display: block;
    padding: 48px;
    color: #fff;
    font: {
      family: "Yeseva One", "cursive", sans-serif;
      size: 60px;
      weight: 400;
    }
  }
  .banner-event-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff;
    margin-bottom: 24px;
    h2 {
      font: {
        family: "Noto Serif TC", "serif", sans-serif;
        size: 24px;
        weight: 700;
      }
    }
    p {
      text-align: center;
    }
  }
}

.row.event-category-list {
  margin-top: 48px;
  .event-category {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 24px;
    border: 2px solid #000;
    &:not(:last-of-type) {
      border-right: none;
    }
    img {
      width: 80px;
    }
    p {
      margin-top: 12px;
      color: $primary;
      font: {
        size: 24px;
        weight: 700;
        family: "Noto Serif TC", "serif", sans-serif;
      }
    }
  }
  .explore-more-category {
    display: flex;
    justify-content: center;
    background-color: $primary;
    p {
      margin-top: 0;
      font-size: 48px;
      color: $secondary;
    }
  }
}

.recent-events {
  margin-top: 48px;
}

.row.event-list {
  margin-top: 32px;
}

.online-event {
  margin-top: 60px;
  .online-event-content-block {
    margin-top: 32px;
    .online-event-image {
      width: 100%;
      height: 317px;
      background-image: url("/assets/images/event/online.jpg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
    }
  }
  h4 {
    color: #000;
    font: {
      family: "Noto Serif TC", "serif", sans-serif;
      size: 32px;
      weight: 700;
    }
  }
  p {
    color: #000;
    font: {
      size: 16px;
      weight: 400;
      family: "Noto Sans TC", sans-serif;
    }
  }
  .event-link {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 0;
    background-color: $primary;
    color: #fff;
    span {
      font-size: 16px;
      margin-left: 4px;
    }
    &:hover {
      color: $secondary;
    }
    font: {
      size: 20px;
      weight: 700;
      family: "Noto Sans TC", sans-serif;
    }
  }
}

.activity-albums-banner {
  padding: 16px 0;
  background-color: $primary;
  color: $secondary;
  margin-top: 60px;
  overflow: hidden;
  word-break: break-all;
  white-space: nowrap;
  font: {
    family: "Noto Serif TC", "serif", sans-serif;
    size: 32px;
    weight: 700;
  }
}

.activity-albums {
  margin-top: 60px;
  .activity-album {
    position: relative;
    padding: 16px;
    border: 2px solid $primary;
    span {
      position: absolute;
      top: -24px;
      left: 50%;
      padding: 10px 16px;
      background-color: #fff;
      transform: translateX(-50%) rotate(-4deg);
      font: {
        family: "Noto Serif TC", "serif", sans-serif;
        size: 16px;
        weight: 700;
      }
    }
    img {
      width: 100%;
      height: 274px;
      object-fit: cover;
    }
    h5 {
      margin: 16px 0 32px;
      font: {
        family: "Noto Serif TC", "serif", sans-serif;
        size: 18px;
        weight: 700;
      }
    }
  }
  .col-12:nth-of-type(2) .activity-album,
  .col-12:nth-of-type(4) .activity-album {
    transform: rotate(2deg);
  }
  .col-12:nth-of-type(3) .activity-album {
    transform: rotate(-2deg);
  }
}

.follow-and-subscribe-block {
  margin: 60px 0;
  .follow-block,
  .subscribe-block {
    border: 2px solid #000;
    h6 {
      margin: 0;
      padding: 16px 32px;
      color: $primary;
      font: {
        family: "Noto Serif TC", "serif", sans-serif;
        size: 32px;
        weight: 700;
      }
    }
    hr {
      margin: 0;
      color: #000;
      border-width: 2px;
      opacity: 1;
    }
    p {
      padding: 32px;
      margin: 0;
      font: {
        size: 16px;
        weight: 400;
        family: "Noto Sans TC", sans-serif;
      }
    }
  }
  .follow-block {
    border-right: none;
    .follow-list {
      padding: 32px;
      padding-top: 0;
      margin: 0;
      li {
        display: flex;
        align-items: center;
        &:not(:first-of-type) {
          margin-top: 16px;
        }
      }
      .icofont-ui-email,
      .icofont-phone,
      .icofont-facebook {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 32px;
        height: 32px;
        background-color: $primary;
        color: #fff;
        &::before {
          font-size: 24px;
        }
      }
      a {
        color: #000;
        margin-left: 16px;
        font: {
          size: 16px;
          weight: 400;
          family: "Noto Sans TC", sans-serif;
        }
      }
    }
  }
  .subscribe-block {
    .email-subscribe-block {
      padding: 32px;
      padding-top: 0;
    }
    .email-subscribe-btn {
      display: block;
      width: 100%;
      margin-top: 52px;
    }
  }
}

.quote-block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;
  border-top: 3px solid $primary;
  border-bottom: 3px solid $primary;
  .quote {
    margin: 0;
    font: {
      family: "Noto Serif TC", "serif", sans-serif;
      size: 32px;
      weight: 700;
    }
  }
  .quote-author {
    margin: 0;
    margin-top: 16px;
    font: {
      family: "Noto Serif TC", "serif", sans-serif;
      size: 18px;
      weight: 700;
    }
  }
}

@include mobile {
  .banner {
    margin-top: 16px;
    height: 350px;
    .event-time {
      margin-top: 16px;
      margin-left: 40px;
      padding: 0;
      font-size: 32px;
    }
    .banner-event-block {
      h2 {
        font-size: 18px;
      }
      p {
        display: none;
      }
    }
  }
  .row.event-category-list {
    .event-category {
      img {
        width: 40px;
      }
    }
    .explore-more-category {
      p {
        font-size: 24px;
      }
    }
  }
  .row.event-list {
    margin-top: 24px;
  }
  .online-event {
    .online-event-image {
      height: 158px;
    }
    h4 {
      font-size: 18px;
      margin-top: 12px;
    }
    .event-tags {
      a {
        font-size: 14px;
      }
    }
    .event-link {
      font-size: 16px;
    }
  }
  .activity-albums-banner {
    font-size: 16px;
  }
  .activity-albums {
    .col-12:not(:first-of-type) {
      margin-top: 44px;
    }
  }
  .follow-and-subscribe-block {
    .follow-block,
    .subscribe-block {
      border: 2px solid #000;
      h6 {
        padding: 16px 12px;
        font-size: 24px;
      }
      p {
        padding: 16px 12px;
      }
    }
    .follow-block {
      .follow-list {
        padding: 16px 12px;
        padding-top: 0;
      }
    }
    .subscribe-block {
      margin-top: 24px;
      .email-subscribe-block {
        padding: 0 12px;
      }
      .email-subscribe-btn {
        margin-top: 16px;
      }
    }
  }
  .quote-block {
    padding: 48px 0;
    .quote {
      font-size: 18px;
    }
    .quote-author {
      font-size: 14px;
    }
  }
}
